<footer class="bg-light text-center text-lg-start mt-auto">
	<div class="text-center p-3 d-flex justify-content-between bg-success">
		<p class="text-dark d-inline">© 2023 OLMS</p>
		<div>
			<a class="social-icon" href="#"><i class="fa-brands fa-twitter"></i></a>
			<a class="social-icon" href="#"><i class="fa-brands fa-instagram"></i></a>
			<a class="social-icon" href="#"><i class="fa-brands fa-whatsapp"></i></a>
			<a class="social-icon" href="#"><i class="fa-brands fa-facebook"></i></a>
		</div>
	</div>
</footer>
