{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Homepage{% endblock title %}

{% block content %}
{% include 'users/login.html' %}


<section id="features" class="container mx-auto">
	<h1 class="text-center">Features</h1>
	<p>We offer a variety of features here at OLMS</p>
	<div class="row">
		<div class="col-md-4">
			<img src="/static/dummy-images/43-57feature.png" alt="">
			<p>Course Management: Simplify course creation, material uploading, and student progress monitoring. Easily organize and deliver course content.</p>
		</div>
		<div class="col-md-4">
			<img src="/static/dummy-images/44-05feature.png" alt="">
			<p>User Management: Provide secure user registration, authentication, and access control for students, instructors, and administrators.</p>
		</div>
		<div class="col-md-4">
			<img src="/static/dummy-images/44-12feature.png" alt="">
			<p>Content Management: Upload and organize various course materials, making them easily accessible to students.</p>
		</div>
		<div class="col-md-4">
			<img src="/static/dummy-images/44-15feature.png" alt="">
			<p>Communication Tools: Include discussion forums, chat rooms, and messaging systems to facilitate interaction and collaboration.</p>
		</div>
		<div class="col-md-4">
			<img src="/static/dummy-images/44-21feature.png" alt="">
			<p>Assessment and Grading: Streamline assessment creation, grading, and feedback, allowing instructors to track student performance.</p>
		</div>
		<div class="col-md-4">
				<img src="/static/dummy-images/44-33feature.png" alt="">
				<p>Progress Tracking: Offer tools to monitor student attendance, assignment completion, and scores.</p>
		</div>
	</div>
</section>


<section id="testimonials" class="text-center">
	<h1>Testimonials</h1>
	<div class="card-container d-flex justify-content-center">
		<div class="card col-md-3 p-md-3 m-5">
		<p>
			"I have been using OLMS for my science classes,
			and it has been a game-changer.
			The platform's intuitive course management tools
			allow me to easily organize and deliver course
			materials. The discussion forums have promoted
			meaningful student interactions and collaboration
			beyond the classroom. The analytics feature
			provides valuable insights into student performance,
			helping me tailor my teaching approach.
			OLMS has truly enhanced my teaching experience and
			transformed the way my students learn."
		</p>
		<div class="card-footer">
			<img class="img-fluid rounded-circle-perfect" src="/static/dummy-images/test-man.png" alt="">
			<p class="card-text">Mark Njuki</p>
			<p class="card-text">High School Science Teacher</p>
			<p class="card-text">Nairobi High School</p>
		</div>
	</div>

	<div class="card col-md-3 p-md-3 m-5">
		<p>
			"As a busy college student, OLMS has been a lifesaver.
			I can access my course materials and participate in
			discussions on the go, using my smartphone. The platform's
			user-friendly interface makes navigating through the
			courses effortless. The assessment and feedback features
			have provided me with timely and constructive guidance.
			OLMS has made online learning convenient and engaging,
			enabling me to excel in my studies."
		</p>
		<div class="card-footer">
			<img class="img-fluid rounded-circle-perfect" src="/static/dummy-images/test-man-glasses.png" alt="">
			<p class="card-text">John Mureithi</p>
			<p class="card-text">College Student</p>
			<p class="card-text">Central University</p>
		</div>
	</div>

	<div class="card col-md-3 p-md-3 m-5">
		<p>
			"OLMS has been an invaluable resource for our homeschooling journey.
			The platform offers a wide range of courses and resources, catering to
			various subjects and grade levels. The ability to customize learning paths
			and access comprehensive analytics has allowed me to tailor my child's
			education to their individual needs. The communication tools have fostered
			connections with other homeschooling parents, creating a supportive community.
			OLMS has empowered me to provide a high-quality education for my child in
			a flexible and enriching way."
		</p>
		<div class="card-footer">
			<img class="img-fluid rounded-circle-perfect" src="/static/dummy-images/test-smiling-lady.png" alt="">
			<p class="card-text">Emily Ngunyi</p>
			<p class="card-text">Homeschooling Parent</p>
			<p class="card-text">Kisii County</p>
		</div>
	</div>
	</div>
</section>


<section id="about_us" class="about">
	<h1 class="text-center">About Us</h1>
	<p class="m-md-3">
		Welcome to our Online Learning Management System (OLMS) - your trusted platform for online education. At OLMS, we revolutionize the way people learn and teach in the digital age.
		With a user-centric approach, OLMS empowers educators and learners alike. We believe in technology breaking barriers to make quality education accessible to all.
		Our mission is to provide a comprehensive platform that caters to modern learners. From course management to monitoring progress, we've got you covered.
		Accessibility is a core value we uphold. OLMS adheres to accessibility standards for all learners.
		Join us on this journey of lifelong learning and empowerment. Discover the possibilities of online education with OLMS.
		Together, let's unlock your full potential and shape a brighter future through knowledge and innovation.
	</p>
</section>


<section id="contact" class="container-fluid mb-4">
	<div class="row align-items-center justify-content-between">
		<div class="card m-md-4 col-md-4">
			<h1 class="card-title text-center">Talk To Us</h1>
			<form method="post">
				<div class="form-group">
					<label for="first_name">First Name</label>
					<input id="first_name" name="first_name" type="text" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="last_name">Last Name</label>
					<input id="last_name" name="last_name" type="text" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="phone_number">Phone Number</label>
					<input id="phone_number" name="phone_number" type="tel" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input id="email" name="email" type="email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea id="message" name="message" rows="4" class="form-control" required></textarea>
				</div>
				<button class="btn btn-success m-2" type="submit">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
			<img src="/static/dummy-images/lady-on-laptop.png" alt="" class="img-fluid">
		</div>
	</div>
</section>
{% endblock content %}
